<% if @item.drafted? %>
  <h1>Pending review</h1>
<% end %>

<%= @item.title %><br>
<%= @item.description %><br>
<%= @item.dimensions %><br>
<%= @item.brand %><br>
<%= @item.condition %><br>
<%= link_to "Add additional photos", new_item_item_photo_path(@item), class: "button" %><br>
<% @item_photos.each do |item_image| %>
  <%= filepicker_image_tag item_image.photo, w: 160, h: 160 %>
<% end %>
